<a href="https://colab.research.google.com/github/rktejesh/Notebooks/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
url = 'https://github.com/rktejesh/mywebpage/blob/master/Omnify-Analyst-Intership-Task.xlsx?raw=true'
data = pd.read_excel(url, sheet_name="Google Ads Data")

In [ ]:
data['Payment ($)'] = data['Payment ($)'].str.replace('$', '')
data['Payment ($)'] = data['Payment ($)'].str.replace(',', '')
data['Payment ($)'] = data['Payment ($)'].astype(float)
data['Payment ($)'] = data['Payment ($)'].fillna(0)
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

,Week,Campaign,Ad group,Keyword type,Search Keyword,Currency,Clicks,Impressions,Cost ($),Leads,Prospects,Payment ($),Payment Date,Country
0,2021-01-25,EK_Generic_Swimming,Pool_Reservation_System_Exact,Exact,pool reservation system,USD,2,17,38.33,0,1,980.0,2021-02-03,USA
1,2021-01-25,EK_Generic_Swimming,Pool_Booking_App_Exact,Exact,pool booking app,USD,1,13,11.70,0,0,0.0,NaT,USA
2,2021-01-25,EK_Generic_Quad-Tok_Yoga,Yoga_Studio_Booking_Software_Broad,Broad,yoga studio booking software,USD,4,154,45.13,0,1,1188.0,2021-03-13,USA
3,2021-01-25,EK_Generic_Swimming,Pool_Scheduling_Software_Phrase,Phrase,pool scheduling software,USD,2,8,23.91,0,0,0.0,NaT,USA
4,2021-01-25,EK_Generic_Swimming_UK,Pool_Reservation_Software_Broad,Broad,pool reservation software,USD,2,13,4.89,0,0,0.0,NaT,USA

# New Section

In [ ]:
"""
Go through the dataset, and deliver the following:

- Create a combined report with all key metrics (esp: Spends and Returns) in a weekly and monthly format. 
Decide the number of data fields you would like to showcase here.

- Which is the most profitable channel

- Which category/keyword is the most profitable

- Look for insights by analysing data points on time series graphs

- Analyse the Impact of geography

Feel free to creatively bring in additional insights from the data set
"""

'\nGo through the dataset, and deliver the following:\n\n- Create a combined report with all key metrics (esp: Spends and Returns) in a weekly and monthly format. \nDecide the number of data fields you would like to showcase here.\n\n- Which is the most profitable channel\n\n- Which category/keyword is the most profitable\n\n- Look for insights by analysing data points on time series graphs\n\n- Analyse the Impact of geography\n\nFeel free to creatively bring in additional insights from the data set\n'

In [ ]:
df1 = data.groupby('Week')['Cost ($)'].sum()
df1

Week
2021-01-25    154.79
2021-02-01    192.58
2021-02-08    216.13
2021-02-15    235.30
2021-02-22    190.90
2021-03-01    141.40
2021-03-08    258.20
2021-03-15    184.36
2021-03-22    308.73
2021-03-29    172.11
2021-04-05    176.96
2021-04-12    137.21
2021-04-19     87.38
2021-04-26    103.26
2021-05-03    229.37
Name: Cost ($), dtype: float64

In [ ]:
#b.index = pd.to_datetime(b['date'],format='%m/%d/%y %I:%M%p')

data.index = pd.to_datetime(data['Week'], format = '%y/%m/%d')
df2 = data.groupby(data.index.month)['Cost ($)'].sum()
df2.head()

Week
1     154.79
2     834.91
3    1064.80
4     504.81
5     229.37
Name: Cost ($), dtype: float64

In [ ]:
type(data['Payment ($)'][0])

str

In [ ]:
data['Ratio'] = data['Clicks'] / data['Impressions']
data['Ratio'] = data['Ratio'].fillna(0)
data['Overall Profit'] = data['Payment ($)'] - data['Cost ($)']
data

,Week,Campaign,Ad group,Keyword type,Search Keyword,Currency,Clicks,Impressions,Cost ($),Leads,Prospects,Payment ($),Payment Date,Country,Ratio,Overall Profit
Week,,,,,,,,,,,,,,,,
2021-01-25,2021-01-25,EK_Generic_Swimming,Pool_Reservation_System_Exact,Exact,pool reservation system,USD,2,17,38.33,0,1,980.0,2021-02-03,USA,0.117647,941.67
2021-01-25,2021-01-25,EK_Generic_Swimming,Pool_Booking_App_Exact,Exact,pool booking app,USD,1,13,11.70,0,0,NaN,NaT,USA,0.076923,NaN
2021-01-25,2021-01-25,EK_Generic_Quad-Tok_Yoga,Yoga_Studio_Booking_Software_Broad,Broad,yoga studio booking software,USD,4,154,45.13,0,1,1188.0,2021-03-13,USA,0.025974,1142.87
2021-01-25,2021-01-25,EK_Generic_Swimming,Pool_Scheduling_Software_Phrase,Phrase,pool scheduling software,USD,2,8,23.91,0,0,NaN,NaT,USA,0.250000,NaN
2021-01-25,2021-01-25,EK_Generic_Swimming_UK,Pool_Reservation_Software_Broad,Broad,pool reservation software,USD,2,13,4.89,0,0,NaN,NaT,USA,0.153846,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-03,2021-05-03,EK_Generic_Swimming,Pool_Reservation_Software_Broad,Broad,pool reservation software,USD,0,1,0.00,0,0,NaN,NaT,USA,0.000000,NaN
2021-05-03,2021-05-03,EK_Generic_Quad-Tok_Yoga,Yoga_Studio_Booking_Software_Exact,Exact,yoga studio booking software,USD,0,6,0.00,0,0,NaN,NaT,USA,0.000000,NaN
2021-05-03,2021-05-03,EK_Generic_Tri-Tok_Reservation,Reservation_Management_System_Exact,Exact,reservation management system,USD,0,0,0.00,0,0,NaN,NaT,USA,0.000000,NaN
2021-05-03,2021-05-03,EK_Generic_Quad-Tok_Pilates,Pilates_Studio_Booking_Software_Broad,Broad,pilates studio booking software,USD,0,1,0.00,0,0,NaN,NaT,USA,0.000000,NaN
2021-05-03,2021-05-03,EK_Generic_Quad-Tok_Pilates,Pilates_Studio_Management_Software_Exact,Exact,pilates studio management software,USD,0,3,0.00,0,0,NaN,NaT,USA,0.000000,NaN

In [ ]:
type(data["Week"][0])

pandas._libs.tslibs.timestamps.Timestamp